body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 16, 16);
   color : whitesmoke;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
   color : whitesmoke;
    border-bottom: 1px solid #666161;
    margin: 10px;
    padding: 10px;
    background-color: #807a7a;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    display: absolute;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 1px solid #563C5C;
    background-color: #856088;
   color : whitesmoke;
}

button:hover {
    outline: none;
    border-color: #333;
}

input {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    border: 1px solid #666161;
    border-radius: 5px;
    background-color: #807a7a;
    color : whitesmoke;
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    display: block;
}

input:focus {
    outline: none;
    border-color: #333;
}

.alert {
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}
